footer {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  div {
    color: gray;
  }
}